

@media (max-width: 767px) {
    #ps-shop-sidebar .widget_product_tag_cloud .ps-shop-widget-col:nth-child(2),
    #ps-shop-sidebar .widget_product_tag_cloud .tagcloud {
        display: none !important; /* Hidden by default */
    }
    #ps-shop-sidebar .widget_product_tag_cloud.active .ps-shop-widget-col:nth-child(2),
    #ps-shop-sidebar .widget_product_tag_cloud .tagcloud.active {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        height: auto !important;
        overflow: visible !important;
    }
    #ps-shop-sidebar .widget_product_tag_cloud .ps-widget-title {
        position: relative;
        cursor: pointer;
        pointer-events: auto !important;
    }
    #ps-shop-sidebar .widget_product_tag_cloud .ps-widget-title::after {
        position: absolute;
        top: 15px;
        right: 0px;
        z-index: 100;
        display: block;
        font-family: 'ps-font';
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        content: "\e114";
        pointer-events: none !important;
    }
    #ps-shop-sidebar .widget_product_tag_cloud .ps-widget-title[data-expanded="true"]::after {
        content: "\e115";
    }

}





/*        <style type="text/css" class="ps-custom-styles"> */
            @font-face {
                font-family: 'MaisonNeue';
                src: url(../font/MaisonNeueWEB-Book.woff2) format('woff2'),url(../font/MaisonNeueWEB-Book.woff) format('woff');
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
            }

            @font-face {
                font-family: 'ps-font';
                src: url(../font/ps-font.ttf) format("truetype");
                font-weight: 400;
                font-style: normal;
                font-display: swap
            }

            body {
                font-family: 'MaisonNeue',sans-serif;
            }



            .ps-menu li a {
                font-size: 16px;
                font-weight: normal;
            }

            #ps-mobile-menu .menu > li > a {
                font-weight: normal;
            }

            #ps-mobile-menu-main-ul.menu > li > a {
                font-size: 15px;
            }

            #ps-mobile-menu-secondary-ul.menu li a {
                font-size: 13px;
            }

            .vc_tta.vc_tta-accordion .vc_tta-panel-title > a,.vc_tta.vc_general .vc_tta-tab > a,.ps-team-member-content h2,.ps-post-slider-content h3,.vc_pie_chart .wpb_pie_chart_heading,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,.wpb_content_element .wpb_accordion_header a,.woocommerce-order-details .order_details tfoot tr:last-child th,.woocommerce-order-details .order_details tfoot tr:last-child td,#order_review .shop_table tfoot .order-total,#order_review .shop_table tfoot .order-total,.cart-collaterals .shop_table tr.order-total,.shop_table.cart .ps-product-details a,#ps-shop-sidebar-popup #ps-shop-search input,.ps-shop-categories li a,.ps-shop-filter-menu li a,.woocommerce-message,.woocommerce-info,.woocommerce-error,blockquote,.commentlist .comment .comment-text .meta strong,.ps-related-posts-content h3,.ps-blog-no-results h1,.ps-term-description,.ps-blog-categories-list li a,.ps-blog-categories-toggle li a,.ps-blog-heading h1,#ps-mobile-menu-top-ul .ps-mobile-menu-item-search input {
                font-size: 18px;
            }

            @media all and (max-width: 768px) {
                .vc_toggle_title h3 {
                    font-size:18px;
                }
            }

            @media all and (max-width: 400px) {
                #ps-shop-search input {
                    font-size:18px;
                }
            }

            .add_to_cart_inline .add_to_cart_button,.add_to_cart_inline .amount,.ps-product-category-text > a,.ps-testimonial-description,.ps-feature h3,.ps_btn,.vc_toggle_content,.ps-message-box,.wpb_text_column,#ps-wishlist-table ul li.title .woocommerce-loop-product__title,.ps-order-track-top p,.customer_details h3,.woocommerce-order-details .order_details tbody,.woocommerce-MyAccount-content .shop_table tr th,.woocommerce-MyAccount-navigation ul li a,.ps-MyAccount-user-info .ps-username,.ps-MyAccount-dashboard,.ps-myaccount-lost-reset-password h2,.ps-login-form-divider span,.woocommerce-thankyou-order-details li strong,.woocommerce-order-received h3,#order_review .shop_table tbody .product-name,.woocommerce-checkout .ps-coupon-popup-wrap .ps-shop-notice,.ps-checkout-login-coupon .ps-shop-notice,.shop_table.cart .ps-product-quantity-pricing .product-subtotal,.shop_table.cart .product-quantity,.shop_attributes tr th,.shop_attributes tr td,#tab-description,.woocommerce-tabs .tabs li a,.woocommerce-product-details__short-description,.ps-shop-no-products h3,.ps-infload-controls a,#ps-shop-browse-wrap .term-description,.list_nosep .ps-shop-categories .ps-shop-sub-categories li a,.ps-shop-taxonomy-text .term-description,.ps-shop-loop-details h3,.woocommerce-loop-category__title,div.wpcf7-response-output,.wpcf7 .wpcf7-form-control,.widget_search button,.widget_product_search #searchsubmit,#wp-calendar caption,.widget .ps-widget-title,.post .entry-content,.comment-form p label,.no-comments,.commentlist .pingback p,.commentlist .trackback p,.commentlist .comment .comment-text .description,.ps-search-results .ps-post-content,.post-password-form > p:first-child,.ps-post-pagination a .long-title,.ps-blog-list .ps-post-content,.ps-blog-grid .ps-post-content,.ps-blog-classic .ps-post-content,.ps-blog-pagination a,.ps-blog-categories-list.columns li a,.page-numbers li a,.page-numbers li span,#ps-widget-panel .total,#ps-widget-panel .ps-cart-panel-item-price .amount,#ps-widget-panel .quantity .qty,#ps-widget-panel .ps-cart-panel-quantity-pricing > span.quantity,#ps-widget-panel .product-quantity,.ps-cart-panel-product-title,#ps-widget-panel .product_list_widget .empty,#ps-cart-panel-loader h5,.ps-widget-panel-header,.button,input[type=submit] {
                font-size: 16px;
            }

            @media all and (max-width: 991px) {
                #ps-shop-sidebar .widget .ps-widget-title,.ps-shop-categories li a {
                    font-size:16px;
                }
            }

            @media all and (max-width: 768px) {
                .vc_tta.vc_tta-accordion .vc_tta-panel-title > a,.vc_tta.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tab > a,.vc_tta.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tab > a,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,.wpb_content_element .wpb_accordion_header a,.ps-term-description {
                    font-size:16px;
                }
            }

            @media all and (max-width: 550px) {
                .shop_table.cart .ps-product-details a,.ps-shop-notice,.ps-related-posts-content h3 {
                    font-size:16px;
                }
            }

            @media all and (max-width: 400px) {
                .ps-product-category-text .ps-product-category-heading,.ps-team-member-content h2,#ps-wishlist-empty h1,.cart-empty,.ps-shop-filter-menu li a,.ps-blog-categories-list li a {
                    font-size:16px;
                }
            }

            .vc_progress_bar .vc_single_bar .vc_label,.woocommerce-tabs .tabs li a span,.product .summary .price del .amount,#ps-shop-sidebar-popup-reset-button,#ps-shop-sidebar-popup .ps-shop-sidebar .widget:last-child .ps-widget-title,#ps-shop-sidebar-popup .ps-shop-sidebar .widget .ps-widget-title,.ps-shop-filter-menu li a i,.woocommerce-loop-category__title .count,span.wpcf7-not-valid-tip,.widget_rss ul li .rss-date,.wp-caption-text,.comment-respond h3 #cancel-comment-reply-link,.ps-blog-categories-toggle li .count,.ps-menu-wishlist-count,.ps-menu li.ps-menu-offscreen .ps-menu-cart-count,.ps-menu-cart .count,.ps-menu .sub-menu li a,body {
                font-size: 14px;
            }

            @media all and (max-width: 768px) {
                .wpcf7 .wpcf7-form-control {
                    font-size:14px;
                }
            }

            @media all and (max-width: 400px) {
                .ps-blog-grid .ps-post-content,.header-mobile-default .ps-menu-cart.no-icon .count {
                    font-size:14px;
                }
            }

            #ps-wishlist-table .ps-variations-list,.ps-MyAccount-user-info .ps-logout-button.border,#order_review .place-order noscript,#payment .payment_methods li .payment_box,#order_review .shop_table tfoot .woocommerce-remove-coupon,.cart-collaterals .shop_table tr.cart-discount td a,#ps-shop-sidebar-popup #ps-shop-search-notice,.wc-item-meta,.variation,.woocommerce-password-hint,.woocommerce-password-strength,.ps-validation-inline-notices .form-row.woocommerce-invalid-required-field:after {
                font-size: 12px;
            }

            body {
                font-weight: normal;
            }

            h1, .h1-size {
                font-weight: normal;
            }

            h2, .h2-size {
                font-weight: normal;
            }

            h3, .h3-size {
                font-weight: normal;
            }

            h4, .h4-size,h5, .h5-size,h6, .h6-size {
                font-weight: normal;
            }

            body {
                color: #777777;
            }

            .ps-portfolio-single-back a span {
                background: #777777;
            }

            .mfp-close,.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a,.vc_pie_chart .vc_pie_chart_value,.vc_progress_bar .vc_single_bar .vc_label .vc_label_units,.ps-testimonial-description,.form-row label,.woocommerce-form__label,#ps-shop-search-close:hover,.products .price .amount,.ps-shop-loop-actions > a,.ps-shop-loop-actions > a:active,.ps-shop-loop-actions > a:focus,.ps-infload-controls a,.woocommerce-breadcrumb a, .woocommerce-breadcrumb span,.variations,.woocommerce-grouped-product-list-item__label a,.woocommerce-grouped-product-list-item__price ins .amount,.woocommerce-grouped-product-list-item__price > .amount,.ps-quantity-wrap .quantity .ps-qty-minus,.ps-quantity-wrap .quantity .ps-qty-plus,.product .summary .single_variation_wrap .ps-quantity-wrap label:not(.ps-qty-label-abbrev),.woocommerce-tabs .tabs li.active a,.shop_attributes th,.product_meta,.shop_table.cart .ps-product-details a,.shop_table.cart .product-quantity,.shop_table.cart .ps-product-quantity-pricing .product-subtotal,.shop_table.cart .product-remove a,.cart-collaterals,.ps-cart-empty,#order_review .shop_table,#payment .payment_methods li label,.woocommerce-thankyou-order-details li strong,.wc-bacs-bank-details li strong,.ps-MyAccount-user-info .ps-username strong,.woocommerce-MyAccount-navigation ul li a:hover,.woocommerce-MyAccount-navigation ul li.is-active a,.woocommerce-table--order-details,#ps-wishlist-empty .note i,a.dark,a:hover,.ps-blog-heading h1 strong,.ps-post-header .ps-post-meta a,.ps-post-pagination a,.commentlist > li .comment-text .meta strong,.commentlist > li .comment-text .meta strong a,.comment-form p label,.entry-content strong,blockquote,blockquote p,.widget_search button,.widget_product_search #searchsubmit,.widget_recent_comments ul li .comment-author-link,.widget_recent_comments ul li:before {
                color: #282828;
            }

            @media all and (max-width: 991px) {
                .ps-shop-menu .ps-shop-filter-menu li a:hover,.ps-shop-menu .ps-shop-filter-menu li.active a,#ps-shop-sidebar .widget.show .ps-widget-title,#ps-shop-sidebar .widget .ps-widget-title:hover {
                    color:#282828;
                }
            }

            .ps-portfolio-single-back a:hover span {
                background: #282828;
            }

            .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,.wpb_content_element .wpb_accordion_header a,#ps-shop-search-close,.woocommerce-breadcrumb,.ps-single-product-menu a,.star-rating:before,.woocommerce-tabs .tabs li a,.product_meta span.sku,.product_meta a,.ps-product-wishlist-button-wrap a,.ps-product-share a,.ps-wishlist-share ul li a:not(:hover),.ps-post-meta,.ps-post-share a,.ps-post-pagination a .short-title,.commentlist > li .comment-text .meta time {
                color: #A1A1A1;
            }

            .vc_toggle_title i,#ps-wishlist-empty p.icon i,h1 {
                color: #282828;
            }

            h2 {
                color: #282828;
            }

            h3 {
                color: #282828;
            }

            h4, h5, h6 {
                color: #282828;
            }

            a,a.dark:hover,a.gray:hover,a.invert-color:hover,.ps-highlight-text,.ps-highlight-text h1,.ps-highlight-text h2,.ps-highlight-text h3,.ps-highlight-text h4,.ps-highlight-text h5,.ps-highlight-text h6,.ps-highlight-text p,.ps-menu-wishlist-count,.ps-menu-cart a .count,.ps-menu li.ps-menu-offscreen .ps-menu-cart-count,.page-numbers li span.current,.page-numbers li a:hover,.ps-blog .sticky .ps-post-thumbnail:before,.ps-blog .category-sticky .ps-post-thumbnail:before,.ps-blog-categories-list li a:hover,.ps-blog-categories ul li.current-cat a,.widget ul li.active,.widget ul li a:hover,.widget ul li a:focus,.widget ul li a.active,#wp-calendar tbody td a,.ps-banner-link.type-txt:hover,.ps-banner.text-color-light .ps-banner-link.type-txt:hover,.ps-portfolio-categories li.current a,.add_to_cart_inline ins,.ps-product-categories.layout-separated .product-category:hover .ps-product-category-text > a,.woocommerce-breadcrumb a:hover,.products .price ins .amount,.products .price ins,.no-touch .ps-shop-loop-actions > a:hover,.ps-shop-menu ul li a:hover,.ps-shop-menu ul li.current-cat > a,.ps-shop-menu ul li.active a,.ps-shop-heading span,.ps-single-product-menu a:hover,.woocommerce-product-gallery__trigger:hover,.woocommerce-product-gallery .flex-direction-nav a:hover,.product-summary .price .amount,.product-summary .price ins,.product .summary .price .amount,.ps-product-wishlist-button-wrap a.added:active,.ps-product-wishlist-button-wrap a.added:focus,.ps-product-wishlist-button-wrap a.added:hover,.ps-product-wishlist-button-wrap a.added,.woocommerce-tabs .tabs li a span,#review_form .comment-form-rating .stars:hover a,#review_form .comment-form-rating .stars.has-active a,.product_meta a:hover,.star-rating span:before,.ps-order-view .commentlist li .comment-text .meta,.ps_widget_price_filter ul li.current,.post-type-archive-product .widget_product_categories .product-categories > li:first-child > a,.widget_product_categories ul li.current-cat > a,.widget_layered_nav ul li.chosen a,.widget_layered_nav_filters ul li.chosen a,.product_list_widget li ins .amount,.woocommerce.widget_rating_filter .wc-layered-nav-rating.chosen > a,.ps-wishlist-button.added:active,.ps-wishlist-button.added:focus,.ps-wishlist-button.added:hover,.ps-wishlist-button.added,.slick-prev:not(.slick-disabled):hover,.slick-next:not(.slick-disabled):hover,.flickity-button:hover,.pswp__button:hover,.ps-portfolio-categories li a:hover {
                color: #DC9814;
            }

            .ps-blog-categories ul li.current-cat a,.ps-portfolio-categories li.current a,.woocommerce-product-gallery.pagination-enabled .flex-control-thumbs li img.flex-active,.widget_layered_nav ul li.chosen a,.widget_layered_nav_filters ul li.chosen a,.slick-dots li.slick-active button,.flickity-page-dots .dot.is-selected {
                border-color: #DC9814;
            }

            .blockUI.blockOverlay:after,.ps-loader:after,.ps-image-overlay:before,.ps-image-overlay:after,.gallery-icon:before,.gallery-icon:after,.widget_tag_cloud a:hover,.widget_product_tag_cloud a:hover {
                background: #DC9814;
            }

            @media all and (max-width: 400px) {
                .woocommerce-product-gallery.pagination-enabled .flex-control-thumbs li img.flex-active,.slick-dots li.slick-active button,.flickity-page-dots .dot.is-selected {
                    background:#DC9814;
                }
            }

            .header-border-1 .ps-header,.ps-blog-list .ps-post-divider,#ps-blog-pagination.infinite-load,.ps-post-pagination,.no-post-comments .ps-related-posts,.ps-footer-widgets.has-border,#ps-shop-browse-wrap.ps-shop-description-borders .term-description,.ps-shop-sidebar-default #ps-shop-sidebar .widget,.products.grid-list li:not(:last-child) .ps-shop-loop-product-wrap,.ps-infload-controls a,.woocommerce-tabs,.upsells,.related,.shop_table.cart tr td,#order_review .shop_table tbody tr th,#order_review .shop_table tbody tr td,#payment .payment_methods,#payment .payment_methods li,.woocommerce-MyAccount-orders tr td,.woocommerce-MyAccount-orders tr:last-child td,.woocommerce-table--order-details tbody tr td,.woocommerce-table--order-details tbody tr:first-child td,.woocommerce-table--order-details tfoot tr:last-child td,.woocommerce-table--order-details tfoot tr:last-child th,#ps-wishlist-table > ul > li,#ps-wishlist-table > ul:first-child > li,.wpb_accordion .wpb_accordion_section,.ps-portfolio-single-footer {
                border-color: #E8E8E8;
            }

            .ps-blog-classic .ps-post-divider,.ps-search-results .ps-post-divider {
                background: #E8E8E8;
            }

            .ps-blog-categories-list li span,.ps-shop-menu ul li > span,.ps-portfolio-categories li span {
                color: #CCCCCC;
            }

            .ps-post-meta:before,.ps-testimonial-author span:before {
                background: #CCCCCC;
            }

            .button,input[type=submit],.widget_tag_cloud a, .widget_product_tag_cloud a,.add_to_cart_inline .add_to_cart_button,#ps-shop-sidebar-popup-button,.products.grid-list .ps-shop-loop-actions > a:first-of-type,.products.grid-list .ps-shop-loop-actions > a:first-child,#order_review .shop_table tbody .product-name .product-quantity {
                color: #FFFFFF;
                background-color: #282828;
            }

            .button:hover,input[type=submit]:hover.products.grid-list .ps-shop-loop-actions > a:first-of-type,.products.grid-list .ps-shop-loop-actions > a:first-child {
                color: #FFFFFF;
            }

            #ps-blog-pagination a,.button.border {
                border-color: #AAAAAA;
            }

            #ps-blog-pagination a,#ps-blog-pagination a:hover,.button.border,.button.border:hover {
                color: #282828;
            }

            #ps-blog-pagination a:not([disabled]):hover,.button.border:not([disabled]):hover {
                color: #282828;
                border-color: #282828;
            }

            .product-summary .quantity .ps-qty-minus,.product-summary .quantity .ps-qty-plus {
                color: #282828;
            }

            .ps-page-wrap {
                background-color: #FFFFFF;
            }

            .ps-divider .ps-divider-title,.ps-header-search {
                background: #FFFFFF;
            }

            .woocommerce-cart .blockOverlay,.woocommerce-checkout .blockOverlay {
                background-color: #FFFFFF !important;
            }

            .ps-top-bar {
                background: #282828;
            }

            .ps-top-bar .ps-top-bar-text,.ps-top-bar .ps-top-bar-text a,.ps-top-bar .ps-menu > li > a,.ps-top-bar .ps-menu > li > a:hover,.ps-top-bar-social li i {
                color: #EEEEEE;
            }

            .ps-header-placeholder {
                height: 79px;
            }

            .ps-header {
                line-height: 50px;
                padding-top: 14px;
                padding-bottom: 15px;
                background: #FFFFFF;
                border-bottom: 1px solid #eee;
            }

            .home .ps-header {
                background: #FFFFFF;
            }

            .mobile-menu-open .ps-header {
                background: #FFFFFF !important;
            }

            .header-on-scroll .ps-header,.home.header-transparency.header-on-scroll .ps-header {
                background: #FFFFFF;
            }

            .header-on-scroll .ps-header:not(.static-on-scroll) {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .ps-header.stacked .ps-header-logo,.ps-header.stacked-centered .ps-header-logo {
                padding-bottom: 0px;
            }

            .ps-header-logo svg,.ps-header-logo img {
                height: 16px;
            }

            @media all and (max-width: 991px) {
                .ps-header-placeholder {
                    height:70px;
                }

                .ps-header {
                    line-height: 50px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .ps-header.stacked .ps-header-logo,.ps-header.stacked-centered .ps-header-logo {
                    padding-bottom: 0px;
                }

                .ps-header-logo svg,.ps-header-logo img {
                    height: 16px;
                }
            }

            @media all and (max-width: 400px) {
                .ps-header-placeholder {
                    height:70px;
                }

                .ps-header {
                    line-height: 50px;
                }

                .ps-header-logo svg,.ps-header-logo img {
                    height: 16px;
                }
            }

            .ps-menu li a {
                color: #686868;
            }

            .ps-menu li a:hover {
                color: #111111;
            }

            .header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) #ps-main-menu-ul > li > a,.header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) #ps-right-menu-ul > li > a {
                color: #FFFFFF;
            }

            .header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) #ps-main-menu-ul > li > a,.header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) #ps-right-menu-ul > li > a {
                color: #282828;
            }

            .header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) #ps-main-menu-ul > li > a:hover,.header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) #ps-right-menu-ul > li > a:hover {
                color: #DCDCDC;
            }

            .header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) #ps-main-menu-ul > li > a:hover,.header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) #ps-right-menu-ul > li > a:hover {
                color: #707070;
            }

            .no-touch .header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) .ps-header:hover {
                background-color: transparent;
            }

            .no-touch .header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) .ps-header:hover {
                background-color: transparent;
            }

            .ps-menu .sub-menu {
                background: #282828;
            }

            .ps-menu .sub-menu li a {
                color: #A0A0A0;
            }

            .ps-menu .megamenu > .sub-menu > ul > li:not(.ps-menu-item-has-image) > a,.ps-menu .sub-menu li a .label,.ps-menu .sub-menu li a:hover {
                color: #EEEEEE;
            }

            .ps-menu .megamenu.full > .sub-menu {
                padding-top: 28px;
                padding-bottom: 15px;
                background: #FFFFFF;
            }

            .ps-menu .megamenu.full > .sub-menu > ul {
                max-width: 1080px;
            }

            .ps-menu .megamenu.full .sub-menu li a {
                color: #777777;
            }

            .ps-menu .megamenu.full > .sub-menu > ul > li:not(.ps-menu-item-has-image) > a,.ps-menu .megamenu.full .sub-menu li a:hover {
                color: #282828;
            }

            .ps-menu .megamenu > .sub-menu > ul > li.ps-menu-item-has-image {
                border-right-color: #EEEEEE;
            }

            .ps-menu-icon span {
                background: #686868;
            }

            .header-transparency-light:not(.header-on-scroll):not(.mobile-menu-open) .ps-menu-icon span {
                background: #FFFFFF;
            }

            .header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) .ps-menu-icon span {
                background: #282828;
            }

            #ps-mobile-menu {
                background: #FFFFFF;
            }

            #ps-mobile-menu .menu li {
                border-bottom-color: #EEEEEE;
            }

            #ps-mobile-menu .menu a,#ps-mobile-menu .menu li .ps-menu-toggle,#ps-mobile-menu-top-ul .ps-mobile-menu-item-search input,#ps-mobile-menu-top-ul .ps-mobile-menu-item-search span,.ps-mobile-menu-social-ul li a {
                color: #555555;
            }

            .no-touch #ps-mobile-menu .menu a:hover,#ps-mobile-menu .menu li.active > a,#ps-mobile-menu .menu > li.active > .ps-menu-toggle:before,#ps-mobile-menu .menu a .label,.ps-mobile-menu-social-ul li a:hover {
                color: #282828;
            }

            #ps-mobile-menu .sub-menu {
                border-top-color: #EEEEEE;
            }

            .ps-footer-widgets {
                padding-top: 55px;
                padding-bottom: 15px;
                background-color: #FFFFFF;
            }

            .ps-footer-widgets,.ps-footer-widgets .widget ul li a,.ps-footer-widgets a {
                color: #777777;
            }

            .ps-footer-widgets .widget .ps-widget-title {
                color: #282828;
            }

            .ps-footer-widgets .widget ul li a:hover,.ps-footer-widgets a:hover {
                color: #DC9814;
            }

            .ps-footer-widgets .widget_tag_cloud a:hover,.ps-footer-widgets .widget_product_tag_cloud a:hover {
                background: #DC9814;
            }

            @media all and (max-width: 991px) {
                .ps-footer-widgets {
                    padding-top:55px;
                    padding-bottom: 15px;
                }
            }

            .ps-footer-bar {
                color: #AAAAAA;
            }

            .ps-footer-bar-inner {
                padding-top: 30px;
                padding-bottom: 31px;
                background-color: #282828;
            }

            .ps-footer-bar a {
                color: #AAAAAA;
            }

            .ps-footer-bar a:hover {
                color: #EEEEEE;
            }

            .ps-footer-bar .menu > li {
                border-bottom-color: #3A3A3A;
            }

            .ps-footer-bar-social a {
                color: #EEEEEE;
            }

            .ps-footer-bar-social a:hover {
                color: #C6C6C6;
            }

            @media all and (max-width: 991px) {
                .ps-footer-bar-inner {
                    padding-top:30px;
                    padding-bottom: 31px;
                }
            }

            .ps-comments {
                background: #F7F7F7;
            }

            .ps-comments .commentlist > li,.ps-comments .commentlist .pingback,.ps-comments .commentlist .trackback {
                border-color: #E7E7E7;
            }

            #ps-shop-products-overlay,#ps-shop {
                background-color: #FFFFFF;
            }

            #ps-shop-taxonomy-header.has-image {
                height: 370px;
            }

            .ps-shop-taxonomy-text-col {
                max-width: none;
            }

            .ps-shop-taxonomy-text h1 {
                color: #282828;
            }

            .ps-shop-taxonomy-text .term-description {
                color: #777777;
            }

            @media all and (max-width: 991px) {
                #ps-shop-taxonomy-header.has-image {
                    height:370px;
                }
            }

            @media all and (max-width: 768px) {
                #ps-shop-taxonomy-header.has-image {
                    height:210px;
                }
            }

            .ps-shop-widget-scroll {
                height: 145px;
            }

            .onsale {
                color: #373737;
                background: #FFFFFF;
            }

            .ps-label-itsnew {
                color: #FFFFFF;
                background: #282828;
            }

            .products li.outofstock .ps-shop-loop-thumbnail > a:after {
                color: #282828;
                background: #FFFFFF;
            }

            .ps-shop-loop-thumbnail {
                background: #EEEEEE;
            }

            .has-bg-color .ps-single-product-bg {
                background: #EEEEEE;
            }

            .ps-featured-video-icon {
                color: #282828;
                background: #FFFFFF;
            }

            @media all and (max-width: 1080px) {
                .woocommerce-product-gallery__wrapper {
                    max-width:500px;
                }

                .has-bg-color .woocommerce-product-gallery {
                    background: #EEEEEE;
                }
            }

            @media all and (max-width: 1080px) {
                .woocommerce-product-gallery.pagination-enabled .flex-control-thumbs {
                    background-color:#FFFFFF;
                }
            }

            .ps-variation-control.ps-variation-control-color li i {
                width: 19px;
                height: 19px;
            }

            .ps-variation-control.ps-variation-control-image li .ps-pa-image-thumbnail-wrap {
                width: 40px;
                height: 40px;
            }

            .error404 .ps-page-wrap {
                background-color: #EEEEEE;
            }

            .ps-page-not-found {
                background-color: #FFFFFF;
            }

            .widget-panel-dark.widget-panel-open .ps-page-overlay {
                background: rgba(255,255,255,0.73);
            }

            .ps-menu li.menu-item-1073 a .label {
                top: -6px;
            }

            @media all and (min-width: 401px) {
                .preview-header-icons .ps-header .ps-menu > li > a > i {
                    display: inline-block;
                    font-size: 17px;
                    margin-top: -1px;
                }
            }

            .home .ps-banner-text .ps-banner-title {
                line-height: 1.21 !important;
            }

            .widget-panel-dark #ps-widget-panel .buttons .button.checkout {
                background-color: #111;
            }

            .preview-shop-background.post-type-archive-product .ps-page-wrap,.preview-shop-background #ps-shop-products-overlay,.preview-shop-background #ps-shop {
                background-color: #eee;
            }

            .preview-shop-background .ps-shop-results-bar {
                display: none;
            }

            .preview-shop-list .ps-shop-sidebar-default #ps-shop-sidebar .widget,.preview-shop-list .products.grid-list li:not(:last-child) .ps-shop-loop-product-wrap {
                border-bottom-color: #d5d5d5;
            }

            .no-touch .preview-shop-fullscreen.header-transparency-dark:not(.header-on-scroll):not(.mobile-menu-open) .ps-header:hover {
                background-color: #fff;
            }

            .preview-shop-fullscreen .ps-row {
                max-width: none;
            }

            @media (min-width: 1400px) {
                .preview-shop-fullscreen .ps-row {
                    padding-right:3.5%;
                    padding-left: 3.5%;
                }

                .preview-shop-fullscreen .ps-row.ps-row-full-nopad {
                    padding-right: 0;
                    padding-left: 0;
                }
            }

            @media (max-width: 1400px) {
                .preview-shop-fullscreen .ps-banner-text {
                    max-width:520px!important;
                }
            }

            @media (max-width: 1200px) {
                .preview-shop-fullscreen .ps-banner-image {
                    background-position:65% 50%;
                }
            }

            @media (max-width: 991px) {
                .preview-shop-fullscreen .ps-banner-text {
                    max-width:430px!important;
                }
            }

            @media (max-width: 550px) {
                .preview-shop-fullscreen .ps-banner-text {
                    max-width:300px!important;
                }
            }

            .preview-shop-fullscreen .large-block-grid-4 > li {
                width: 20%;
            }

            .preview-shop-fullscreen .large-block-grid-4 > li:nth-of-type(4n+1) {
                clear: none;
            }

            .preview-shop-fullscreen .large-block-grid-4 > li:nth-of-type(5n+1) {
                clear: both;
            }

            .products li.outofstock .ps-shop-loop-thumbnail > a:after {
                display: none !important;
            }

            .products:not(.attributes-position-details) .post-253 .ps-shop-loop-attributes {
                display: none;
            }

            body:not(.preview-shop-list) .products:not(.attributes-position-details) .post-253 .onsale,.products .post-253 .price del {
                display: none;
            }

            .products .post-253 .price ins .amount {
                color: #282828;
            }

            @media all and (min-width: 1081px) {
                .postid-253 .product .summary .product_title {
                    font-size:27px;
                }
            }

            @media all and (max-width: 400px) {
                .postid-253 .product .summary .product_title {
                    font-size:24px;
                }
            }

            @media all and (min-width: 992px) {
                .ps-shop-sidebar-default .ps-shop-header {
                    padding:65px 0 0;
                }

                .ps-shop-sidebar-default .ps-shop-menu {
                    display: none;
                }
            }

            @media all and (min-width: 750px) {
                .ps-shop-sidebar-default .large-block-grid-4 > li {
                    width:33.33333%;
                }

                .ps-shop-sidebar-default .large-block-grid-4 > li:nth-of-type(3n+1) {
                    clear: both;
                }

                .ps-shop-sidebar-default .large-block-grid-4 > li:nth-of-type(4n+1) {
                    clear: none;
                }
            }

            .preview-product-horizontal-thumbs .woocommerce-product-gallery .flex-control-thumbs li:nth-child(2) {
               /* display: none; */
            }

            .preview-product-gallery-grid .woocommerce-product-gallery__image:nth-child(4),.preview-product-gallery-grid .woocommerce-product-gallery__image:nth-child(3) {
                display: none!important;
            }

            .single_variation {
                display: none !important;
            }

            .product .summary .shop_attributes tr.woocommerce-product-attributes-item--attribute_pa_other-info,.product .summary .shop_attributes tr.woocommerce-product-attributes-item--attribute_pa_size,.meta-layout-summary .product_meta .tagged_as,.ps-product-accordion-panel:first-child {
                display: none;
            }

            .product .summary .shop_attributes tr:nth-child(3) th,.product .summary .shop_attributes tr:nth-child(3) td {
                padding-bottom: 0;
            }

            @media (max-width: 767px) {
                #tab-description .vc_custom_1462135333419 {
                    padding-bottom:0 !important;
                }

                #tab-description .vc_custom_1462135341599 {
                    padding-bottom: 10px !important;
                }
            }

            #ps-preview-cart-notice {
                position: fixed;
                right: 32px;
                top: calc(100% - 32px);
                z-index: 10001;
                text-align: left;
                font-size: 15px;
                line-height: 1.6;
                color: #000;
                background-color: #fff7da;
                transform: translate3d(0,34px,0);
                transition: transform 0.6s ease;
            }

            #ps-preview-cart-notice.show {
                transition-delay: 0.5s;
                transform: translate3d(0,-100%,0);
            }

            .ps-preview-cart-notice-inner {
                position: relative;
                max-width: 500px;
                margin: 0 auto;
                padding: 40px 72px 40px 72px;
            }

            #ps-preview-cart-notice i.ps-font-info-outline {
                position: absolute;
                top: 36px;
                left: 30px;
                font-size: 30px;
            }

            #ps-preview-cart-notice strong {
                font-weight: normal;
                text-transform: uppercase;
            }

            #ps-preview-cart-notice a {
                color: inherit;
            }

            #ps-preview-cart-notice .iframe-close {
                display: block;
                margin-top: 12px;
            }

            #ps-preview-cart-notice .iframe-close u {
                text-decoration: none;
                border-bottom: 1px solid;
            }

            #ps-preview-cart-notice a.close {
                position: absolute;
                top: 50%;
                right: 30px;
                font-size: 20px;
                margin-top: -10px;
                cursor: pointer;
            }

            @media all and (max-width: 767px) {
                #ps-preview-cart-notice {
                    top:100%;
                    left: 0;
                    right: 0;
                    font-size: inherit;
                }

                .ps-preview-cart-notice-inner {
                    max-width: none;
                    padding: 25px 48px 27px 48px;
                }

                #ps-preview-cart-notice i.ps-font-info-outline {
                    top: 22px;
                    left: 13px;
                    font-size: 28px;
                }

                #ps-preview-cart-notice .iframe-close {
                    margin-top: 10px;
                }

                #ps-preview-cart-notice a.close {
                    right: 13px;
                }
            }

            @media all and (max-width: 460px) {
                .ps-preview-cart-notice-inner {
                    padding:25px 46px 27px 15px;
                }

                #ps-preview-cart-notice i.ps-font-info-outline {
                    display: none;
                }
            }

            @media all and (min-width: 1299px) {
                .ps-blog-classic .ps-post-thumbnail a,.ps-blog-list .ps-post-thumbnail a {
                    position:relative;
                    height: 460px;
                    overflow: hidden;
                }

                .ps-blog-classic .ps-blog-sidebar-none .ps-post-thumbnail a {
                    height: 550px;
                }

                .ps-blog-classic .ps-post-thumbnail img,.ps-blog-list .ps-post-thumbnail img {
                    position: absolute;
                    bottom: -41%;
                }
            }

            .ps-checkout-login-coupon {
                display: none;
            }

            .woocommerce-terms-and-conditions-wrapper {
                display: none;
            }

            div.wpcf7,.wpcf7 {
                color: #282828;
            }

            .ps-product-review:nth-child(odd) .ps-product-review-description:after {
                content: " Master cleanse authentic keffiyeh fingerstache.";
            }

            .ps-footer-bar-social li i.ps-font-instagram {
                font-size: 20px;
            }

            @media all and (max-width: 991px) {
                .ps-footer-bar-social li i.ps-font-instagram {
                    font-size:18px;
                }
            }


       /* </style> */

