{% extends "allauth/layouts/allauth_base.html" %}
{% block body %}
<div class="ps-page-default ps-row">
  <div class="ps-page-default-col col-xs-12">
    <div id="post-10" class="post-10 page type-page status-publish hentry">
      <div class="woocommerce">
        <div class="woocommerce-notices-wrapper">
            {% if messages %}
                {% for message in messages %}<div class="alert alert-info">{{ message }}</div>{% endfor %}
            {% endif %}
        </div>
            <div id="customer_login" class="ps-myaccount-login">
              <div class="ps-myaccount-login-inner">
                <div id="ps-login-wrap" class="inline slide-up fade-in">
                    {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}