

    <footer id="nm-footer" class="nm-footer">
                <div class="nm-footer-bar layout-default">
                    <div class="nm-footer-bar-inner">
                        <div class="nm-row">
                            <div class="nm-footer-bar-left col-md-8 col-xs-12">
                                <ul id="nm-footer-bar-menu" class="menu">
                                    <li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386">
                                        <a href="">About Us</a>
                                    </li>
                                    <li id="menu-item-388" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-388">
                                        <a href="">Blog</a>
                                    </li>
                                    <li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384">
                                        <a href="">FAQs</a>
                                    </li>
                                    <li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387">
                                        <a href="">Order Tracking</a>
                                    </li>
                                    <li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385">
                                        <a href="">Contact</a>
                                    </li>
                                    <li class="nm-menu-item-copyright menu-item">
                                        <span>
                                            © By <a href="">Era Technologies</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="nm-footer-bar-right col-md-4 col-xs-12">
                                <ul class="nm-footer-bar-social">
                                    <li>
                                        <a href="https://www.facebook.com" target="_blank" title="Facebook" rel="nofollow">
                                            <i class="nm-font nm-font-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank" title="Instagram" rel="nofollow">
                                            <i class="nm-font nm-font-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com" target="_blank" title="Twitter" rel="nofollow">
                                            <i class="nm-font nm-font-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>