

  <div id="nm-mobile-menu" class="nm-mobile-menu">
      <div class="nm-mobile-menu-scroll" style="max-height: 738px;margin-right: 0px;margin-top: 70px;">
          <div class="nm-mobile-menu-content" onclick="toggleMobileMenu(this)">
              <div class="nm-row">
                  <div class="nm-mobile-menu-main col-xs-12">
                      <ul id="nm-mobile-menu-main-ul" class="menu">
                          <li class="megamenu col-2 shop-link menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children current-menu-item current_page_item menu-item-20">
                              <a href="" aria-current="page">Shop</a>
                              <span class="nm-menu-toggle"></span>
                              <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2716">
                                      <a href="">Shop Catalog</a>
                                      <span class="nm-menu-toggle"></span>
                                      <ul class="sub-menu">
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-334">
                                              <a href="https://savoy.nordicmade.com/?cat_grid=1">Shop &#8211;Categories Grid</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3133">
                                              <a href="https://savoy.nordicmade.com/?fullscreen=1&#038;header_icons=all&#038;shop_search=header">Shop &#8211;Fullscreen</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3268">
                                              <a href="https://savoy.nordicmade.com/?shop_search=header">Shop &#8211;Header Search</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1073">
                                              <a href="https://savoy.nordicmade.com/?shop_sidebar=list&#038;header_icons=1&#038;shop_search=header">
                                                  Shop &#8211;List <span class="label bubble">New</span>
                                              </a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2714">
                                              <a href="https://savoy.nordicmade.com/?grid=1&#038;header_icons=1&#038;shop_search=header">Shop &#8211;Masonry Grid</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1193">
                                              <a href="https://savoy.nordicmade.com/?cat_center=1&#038;shop_search=header">
                                                  Shop &#8211;Menu Thumbnails <span class="label bubble">New</span>
                                              </a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-337">
                                              <a href="https://savoy.nordicmade.com/?overlay=1">Shop &#8211;Overlay</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-338">
                                              <a href="https://savoy.nordicmade.com/?pagination=1&#038;header_icons=1&#038;shop_search=header">Shop &#8211;Pagination</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2715">
                                              <a href="https://savoy.nordicmade.com/?background=1&#038;header_icons=all">Shop &#8211;Popup Filters</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1072">
                                              <a href="https://savoy.nordicmade.com/?shop_sidebar=1&#038;header_icons=1&#038;shop_search=header">Shop &#8211;Sidebar</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-has-children menu-item-3140">
                                      <a href="https://savoy.nordicmade.com/product/solo-headphones/">Product Layouts</a>
                                      <span class="nm-menu-toggle"></span>
                                      <ul class="sub-menu">
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                              <a href="https://savoy.nordicmade.com/product/classic-chair/?nobg=1">No Background</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2210">
                                              <a href="https://savoy.nordicmade.com/product/handle-bag/?custom_controls=1">
                                                  Swatches &#038;Labels <span class="label bubble">New</span>
                                              </a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-3267">
                                              <a href="https://savoy.nordicmade.com/product/solo-headphones-limited/">Extended Description</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3136">
                                              <a href="https://savoy.nordicmade.com/product/eco-body-lotion/?pgallery=grid">Gallery &#8211;Grid</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-3266">
                                              <a href="https://savoy.nordicmade.com/product/solo-headphones-limited/">
                                                  Gallery &#8211;Expanded <span class="label bubble">New</span>
                                              </a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3137">
                                              <a href="https://savoy.nordicmade.com/product/eco-body-lotion/?pgallery=horizontal">Gallery &#8211;Horizontal</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2211">
                                              <a href="https://savoy.nordicmade.com/product/eco-body-lotion/?pgallery=scroll">Gallery &#8211;Scrolling</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3135">
                                              <a href="https://savoy.nordicmade.com/product/eco-body-lotion/?pgallery=scattered">Gallery &#8211;Scattered</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2195">
                                              <a href="https://savoy.nordicmade.com/product/pendant-lamp/">Featured Video</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-824">
                                              <a href="https://savoy.nordicmade.com/product/emil-backpack/?zoom=1">Image Zoom</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-has-children menu-item-2201">
                                      <a href="https://savoy.nordicmade.com/product/henry-backpack/">Product Types</a>
                                      <span class="nm-menu-toggle"></span>
                                      <ul class="sub-menu">
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2200">
                                              <a href="https://savoy.nordicmade.com/product/henry-backpack/">Simple</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2933">
                                              <a href="https://savoy.nordicmade.com/product/solo-headphones/?default_controls=1">Variable</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2199">
                                              <a href="https://savoy.nordicmade.com/product/wooden-bathroom-set/">Grouped</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2197">
                                              <a href="https://savoy.nordicmade.com/product/multi-device-bag/">External / Affiliate</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                          <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2194">
                                              <a href="">Out of Stock</a>
                                              <span class="nm-menu-toggle"></span>
                                          </li>
                                      </ul>
                                  </li>
                                  </li>
                              </ul>
                          </li>
                          <li class="megamenu full col-5 mobile-thumbnail-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3169">
                              <a href="">
                                  Categories
                              </a>
                              <span class="nm-menu-toggle"></span>
                              <ul class="sub-menu">
                                  <li class="shop-ajax-link shop-redirect-link menu-item menu-item-type-taxonomy menu-item-object-product_cat nm-menu-item-has-image menu-item-3171">
                                      <a href="https://savoy.nordicmade.com/product-category/decoration/">
                                          <img src="https://savoy.nordicmade.com/wp-content/uploads/2020/08/category-thumb-decoration.jpg" loading="eager" alt="" width="160" height="160" class="nm-menu-item-image"/>
                                          <span class="nm-menu-item-image-title">Decoration</span>
                                      </a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="shop-ajax-link shop-redirect-link menu-item menu-item-type-taxonomy menu-item-object-product_cat nm-menu-item-has-image menu-item-3172">
                                      <a href="https://savoy.nordicmade.com/product-category/essentials/">
                                          <img src="https://savoy.nordicmade.com/wp-content/uploads/2020/08/category-thumb-essentials.jpg" loading="eager" alt="" width="160" height="160" class="nm-menu-item-image"/>
                                          <span class="nm-menu-item-image-title">Essentials</span>
                                      </a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="shop-ajax-link shop-redirect-link menu-item menu-item-type-taxonomy menu-item-object-product_cat nm-menu-item-has-image menu-item-3173">
                                      <a href="https://savoy.nordicmade.com/product-category/interior/">
                                          <img src="https://savoy.nordicmade.com/wp-content/uploads/2020/08/category-thumb-interior.jpg" loading="eager" alt="" width="160" height="160" class="nm-menu-item-image"/>
                                          <span class="nm-menu-item-image-title">Interior</span>
                                      </a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="shop-ajax-link menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item current_page_item nm-menu-item-has-image menu-item-3174">
                                      <a href="https://savoy.nordicmade.com/" aria-current="page">
                                          <img src="https://savoy.nordicmade.com/wp-content/uploads/2020/08/category-thumb-all.jpg" loading="eager" alt="" width="160" height="160" class="nm-menu-item-image"/>
                                          <span class="nm-menu-item-image-title">Shop All</span>
                                      </a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                              </ul>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2202">
                              <a href="/gallery/">Gallery</a>
                              <span class="nm-menu-toggle"></span>
                              <ul class="sub-menu">
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361">
                                      <a href="https://savoy.nordicmade.com/about/">About Us</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                                      <a href="https://savoy.nordicmade.com/blog/">Blog</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074">
                                      <a href="https://savoy.nordicmade.com/blog/?blt=classic-sidebar">Blog &#8211;Classic + Sidebar</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1075">
                                      <a href="https://savoy.nordicmade.com/blog/?blt=list">Blog &#8211;List</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3150">
                                      <a href="https://savoy.nordicmade.com/blog/?blog_infscroll=1">
                                          Blog &#8211;Infinite Load <span class="label bubble">New</span>
                                      </a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2203">
                                      <a href="https://savoy.nordicmade.com/inspiration-nordic-home/">Blog &#8211;Single Post</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373">
                                      <a href="https://savoy.nordicmade.com/contact/">Contact</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-378">
                                      <a href="https://savoy.nordicmade.com/contact-form/">Contact – Form</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
                                      <a href="">FAQ</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1165">
                                      <a href="">Portfolio</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3139">
                                      <a href="https://savoy.nordicmade.com/portfolio/wall-rack/">Portfolio &#8211;Single</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-382">
                                      <a href="https://savoy.nordicmade.com/404">404</a>
                                      <span class="nm-menu-toggle"></span>
                                  </li>
                              </ul>
                          </li>

                      </ul>
                  </div>
                  <div class="nm-mobile-menu-secondary col-xs-12">
                      <ul id="nm-mobile-menu-secondary-ul" class="menu">
                          <li class="nm-mobile-menu-item-cart menu-item">
                              <a href="" id="nm-mobile-menu-cart-btn" class="snipcart-checkout">
                                  <span class="nm-menu-cart-title">Cart</span>
                                  <span class="nm-menu-cart-count count nm-count-zero">0</span>
                              </a>
                          </li>
                          <li class="nm-menu-item-login menu-item">
                              {% if request.user.is_authenticated %}
                               <a href="/profile/"> {{ request.user.username }} </a>
                              {% else %}
                              <a href="login" id="nm-mobile-menu-account-btn">Sign In</a>
                              {% endif %}
                          </li>
                          <li class="nm-menu-item-wishlist menu-item">
                              <a href="">
                                  <span class="nm-menu-wishlist-title">Wishlist</span>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="nm-mobile-menu-social col-xs-12">
                      <ul class="nm-mobile-menu-social-ul">
                          <li>
                              <a href="https://www.facebook.com" target="_blank" title="Facebook" rel="nofollow">
                                  <i class="nm-font nm-font-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com" target="_blank" title="Instagram" rel="nofollow">
                                  <i class="nm-font nm-font-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.twitter.com" target="_blank" title="Twitter" rel="nofollow">
                                  <i class="nm-font nm-font-twitter"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="nm-widget-panel" class="nm-widget-panel">
      <div class="nm-widget-panel-inner">
          <div class="nm-widget-panel-header">
              <div class="nm-widget-panel-header-inner">
                  <a href="#" id="nm-widget-panel-close">
                      <span class="nm-cart-panel-title">Cart</span>
                      <span class="nm-widget-panel-close-title">Close</span>
                  </a>
              </div>
          </div>
          <div class="widget_shopping_cart_content">
              <div id="nm-cart-panel" class="nm-cart-panel-empty">
                  <form id="nm-cart-panel-form" action="" method="post">
                      <input type="hidden" id="_wpnonce" name="_wpnonce" value="24948b85f2"/>
                      <input type="hidden" name="_wp_http_referer" value="/"/>
                  </form>
                  <div id="nm-cart-panel-loader">
                      <span class="nm-loader">Updating &hellip;</span>
                  </div>
                  <div class="nm-cart-panel-list-wrap">
                      <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                          <li class="empty">
                              <i class="nm-font nm-font-close2"></i>
                              <span>No products in the cart.</span>
                          </li>
                      </ul>
                      <!-- end product list -->
                  </div>
                  <div class="nm-cart-panel-summary">
                      <div class="nm-cart-panel-summary-inner">
                          <p class="buttons nm-cart-empty-button">
                              <a href="" id="nm-cart-panel-continue" class="button border">Continue shopping</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script>
    function toggleMobileMenu(menu) {
        menu.classList.toggle('mobile-menu-open');
    }
</script>