{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .tag-cloud-link {
            display: inline-block;
            background: #333;
            color: #fff;
            padding: 5px 10px;
            margin: 5px;
            border-radius: 5px;
            text-decoration: none;
        }
        .tag-cloud-link.active {
            background: #666; /* Highlight active button */
        }
        .product {
            text-align: center;
            padding: 10px;
        }
        .category {
            display: block;
            font-size: 0.9em;
            color: #666;
        }
    </style>

            <!-- Carousel -->
            <div class="ps-page-full">
                <div class="entry-content">
                    <div style="max-width:1600px;" class="ps-row ps-row-boxed ps-row-max-width vc_row wpb_row  no-side-padding">
                        <div class="ps_column wpb_column vc_column_container col-sm-12 no-side-padding">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="ps-banner-slider slider-hero plugin-slick pagination-color-gray slick-slider
                                    slick-dots-inside has-pagination pagination-mobile-outside pagination-left"
                                         data-arrows="true" data-dots="true" data-autoplay="true" data-autoplay-speed="12000">
                                        {% for c_image in page.carousel_images.all  %}
                                        {% image c_image.carousel_image original as c_full_image %}
                                        <div class="ps-banner content-boxed full-width-parent image-type-fluid has-alt-image text-color-light subtitle-below alt-mobile-layout" style="background-color: #3d3d3b;">
                                            <img src="{{ c_full_image.url }}" width="1600" height="678" alt="slider-pendant-lighting">
                                            <img src="{{ c_full_image.url }}" class="ps-banner-alt-image img" width="750" height="500" alt="slider-pendant-lighting-alt">
                                            <div class="ps-banner-content">
                                                <div class="ps-banner-content-inner h_left v_center align_left">
                                                    <div class="ps-banner-text medium" style="max-width:41%;">
                                                        <div class="ps-banner-text-inner ps-animated" data-animate="fadeIn">
                                                            <h1 class="ps-banner-title">{{ c_image.hero_text }} </h1>
                                                            <a href="{{ c_image.hero_cta_link.url }}" class="ps-banner-link ps-banner-shop-link type-txt">{{ c_image.hero_cta }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Shop - Categories - Search -->
            <div id="ps-shop" class="ps-shop header-enabled ajax-enabled ps-shop-sidebar-header images-lazyload">
                <div class="ps-shop-header has-categories has-filters no-sidebar has-search">
                    <div class="ps-shop-menu list_sep thumbnails-top">
                        <div class="ps-row">
                            <div class="col-xs-12">
                                <div id="ps-shop-filter-menu-wrap">
                                    <ul id="ps-shop-filter-menu" class="ps-shop-filter-menu">
                                        <li class="ps-shop-categories-btn-wrap" data-panel="cat">
                                            <a href="#categories" class="invert-color">Categories</a>
                                        </li>
                                        <li class="ps-shop-filter-btn-wrap" data-panel="filter">
                                            <a href="#filter" class="invert-color">Filter</a>
                                        </li>
                                        <li class="ps-shop-search-btn-wrap" data-panel="search">
                                            <span>&frasl;</span>
                                            <a href="/search" id="ps-shop-search-btn" class="invert-color">
                                                <span>Search</span>
                                                <i class="ps-font ps-font-search flip"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="ps-shop-categories-wrap">
                                    <ul id="ps-shop-categories" class="ps-shop-categories">
                                        <li class="current-cat">
                                            <a href="">All</a>
                                        </li>
                                        <li class="cat-item-23">
                                            <span class="ps-shop-categories-divider">&frasl;</span>
                                            <a href="">Stoneware</a>
                                        </li>
                                        <li class="cat-item-22">
                                            <span class="ps-shop-categories-divider">&frasl;</span>
                                            <a href="">Raku</a>
                                        </li>
                                        <li class="cat-item-21">
                                            <span class="ps-shop-categories-divider">&frasl;</span>
                                            <a href="">Sculptural</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ps-shop-sidebar" class="ps-shop-sidebar ps-shop-sidebar-header" data-sidebar-layout="header">
                        <div class="ps-shop-sidebar-inner">
                            <div class="ps-row">
                                <div class="col-xs-12">
                                    <ul id="ps-shop-widgets-ul" class="small-block-grid-4">
                                        <li id="ps_woocommerce_widget_product_sorting-2" class="widget ps_widget ps_widget_product_sorting woocommerce">
                                            <div class="ps-shop-widget-col">
                                                <h3 class="ps-widget-title">Sort By</h3>
                                            </div>
                                            <div class="ps-shop-widget-col">
                                                <ul id="ps-product-sorting" class="ps-product-sorting">
                                                    <li>
                                                        <a href="">Default</a>
                                                    </li>
                                                    <li>
                                                    <li class="active">Newness</li>
                                                    <li>
                                                        <a href="">Price: Low to High</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Price: High to Low</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li id="ps_woocommerce_price_filter-2" class="widget ps_widget ps_widget_price_filter woocommerce">
                                            <div class="ps-shop-widget-col">
                                                <h3 class="ps-widget-title">Price</h3>
                                            </div>
                                            <div class="ps-shop-widget-col">
                                                <ul class="ps-price-filter">
                                                    <li class="current">All</li>
                                                    <li>
                                                        <a href="">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    0
                                                                </bdi>
                                                            </span>
                                                            -
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    50
                                                                </bdi>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    50
                                                                </bdi>
                                                            </span>
                                                            -
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    100
                                                                </bdi>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    100
                                                                </bdi>
                                                            </span>
                                                            -
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    150
                                                                </bdi>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    150
                                                                </bdi>
                                                            </span>
                                                            -
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    200
                                                                </bdi>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    200
                                                                </bdi>
                                                            </span>
                                                            +
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <!-- Sidebar with updated Forms widget -->
                                            <aside id="secondary" class="widget-area ps-col-12 ps-col-md-3" role="complementary">
                                                <div class="ps-shop-sidebar">
                                                    <!-- Updated Forms widget with dynamic categories -->
                                                    <li id="woocommerce_product_tag_cloud-2" class="widget woocommerce widget_product_tag_cloud">
                                                        <div class="ps-shop-widget-col" data-panel="forms">
                                                            <h3 class="ps-widget-title">Forms</h3>
                                                        </div>
                                                        <div class="ps-shop-widget-col">
                                                            <div class="tagcloud">
                                                                <!-- Dynamic buttons with Django URLs -->
                                                                <a href="{% url 'category_filter' 'all' %}" class="custom-category-link">All</a>
                                                                {% for category in categories %}
                                                                    <a href="{% url 'category_filter' category.id %}" class="custom-category-link">{{ category.name }}</a>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <!-- Keep other widgets if needed -->
                                                    {% for widget in sidebar_widgets %}
                                                        {% include_block widget %}
                                                    {% endfor %}
                                                </div>
                                            </aside>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="ps-shop-sidebar-layout-indicator"></div>
                        <!-- Don't remove (used for testing sidebar/filters layout in JavaScript) -->
                    </div>
                    <div id="ps-shop-search">
                        <div class="ps-row">
                            <div class="col-xs-12">
                                <div class="ps-shop-search-inner">
                                    <div class="ps-shop-search-input-wrap">
                                        <a href="#" id="ps-shop-search-close">
                                            <i class="ps-font ps-font-close2"></i>
                                        </a>
                                        <form id="ps-shop-search-form" role="search" method="get" action="">
                                            <input type="text" id="ps-shop-search-input" autocomplete="off" value="" name="s" placeholder="Search products"/>
                                            <input type="hidden" name="post_type" value="product"/>
                                        </form>
                                    </div>
                                    <div id="ps-shop-search-notice">
                                        <span>
                                            press <u>Enter</u>
                                            to search
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ps-shop-notices-wrap"></div>


                <div id="ps-shop-products" class="ps-shop-products">
                    <div class="ps-row">
                        <div class="ps-shop-products-col col-xs-12">
                            <div id="ps-shop-products-overlay" class="ps-loader"></div>
                            <div id="ps-shop-browse-wrap" class="ps-shop-description-clean">
                                <div class="woocommerce-notices-wrapper"></div>
                                <ul class="ps-products products xsmall-block-grid-2 small-block-grid-2 medium-block-grid-3 large-block-grid-4 grid-default layout-default attributes-position-thumbnail has-action-links">
                                    {% for product in products %}
                                    <li class="ps-has-attributes product type-product post-253 status-publish first instock product_cat-interior product_tag-classic product_tag-interior product_tag-leather has-post-thumbnail sale featured shipping-taxable purchasable product-type-variable has-default-attributes" data-product-id="253">
                                        <div class="ps-shop-loop-product-wrap">
                                            <div class="ps-shop-loop-thumbnail">
                                                <a href="{{ product.get_url }}" class="ps-shop-loop-thumbnail-link woocommerce-LoopProduct-link">
                                                    <span class="onsale">
                                                        <span class="ps-onsale-before">-</span>
                                                        11<span class="ps-onsale-after">%</span>
                                                    </span>
                                                  {% image product.image fill-400x500 as tmp_image %}
                                                    <img src="{{ tmp_image.url }}" onload="this.style.opacity=1" alt="" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image lazyload">
                                                </a>
                                            </div>

                                            <div class="ps-shop-loop-details">
                                                <a href="#" id="ps-wishlist-item-{{ product.pk }}-button" class="ps-wishlist-button ps-wishlist-item-{{ product.pk }}-button" data-product-id="{{ product.pk }}" title="Add to Wishlist">
                                                    <i class="ps-font ps-font-heart-o"></i>
                                                </a>
                                                <div class="ps-shop-loop-title-price">
                                                    <h3 class="woocommerce-loop-product__title">
                                                        <a href="{{ product.get_url }}" class="ps-shop-loop-title-link woocommerce-LoopProduct-link">{{ product.title }}</a>
                                                    </h3>
                                                    <span class="price">
                                                        <del aria-hidden="true">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    {{ product.price }}
                                                                </bdi>
                                                            </span>
                                                        </del>
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                                                    {{ product.price }}
                                                                </bdi>
                                                            </span>
                                                        </ins>
                                                    </span>
                                                </div>
                                                <div class="ps-shop-loop-actions">
                                                    <a href="{{ product.get_url }}" class="">Show more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                  {% endfor %}

                                <nav class="woocommerce-pagination ps-pagination ps-infload">
                                    <ul class='page-numbers'>
                                        <li>
                                            <span aria-current="page" class="page-numbers current">1</span>
                                        </li>
                                        <li>
                                            <a class="page-numbers" href="">2</a>
                                        </li>
                                        <li>
                                            <a class="page-numbers" href=">3</a>
                                        </li>
                                        <li>
                                            <a class="next page-numbers" href="">
                                                <i class="ps-font ps-font-angle-thin-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="ps-infload-link">
                                    <a href="">&nbsp;</a>
                                </div>
                                <div class="ps-infload-controls button-mode">
                                    <a href="#" class="ps-infload-btn">Load More</a>
                                    <a href="#" class="ps-infload-to-top">All products loaded.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .ps-page-wrap-inner -->
    </div>
    <!-- .ps-page-wrap -->

<!--        Login popup -->
        <div id="ps-login-popup-wrap" class="ps-login-popup-wrap mfp-hide">
        <div class="woocommerce-notices-wrapper"></div>
        <div id="customer_login" class="ps-myaccount-login">
            <div class="ps-myaccount-login-inner">
                <div id="ps-login-wrap" class="inline slide-up fade-in">
                    <h2>Sign In</h2>
                    <form action="{% url 'account_login' %}" method="post" class="login">
                        <input type="hidden" class="ps-login-popup-redirect-input" name="redirect" value="">
                        <p class="form-row form-row-wide">
                            <label for="username">
                                Username or email address <span class="required">*</span>
                            </label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="">
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="password">
                                Password <span class="required">*</span>
                            </label>
                            <input class="input-text" type="password" name="password" id="password"/>
                        </p>
                        <p class="form-row form-group">
                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme inline">
                                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"/>
                                <span>Remember me</span>
                            </label>
                            <span class="woocommerce-LostPassword lost_password">
                                <a href="">Lost your password?</a>
                            </span>
                        </p>
                        <p class="form-actions">
                            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="08d1b3ef19"/>
                            <input type="hidden" name="_wp_http_referer" value="/"/>
                            <button type="submit" class="woocommerce-button button woocommerce-form-login__submit wp-element-button" name="login" value="Sign In">Sign In</button>
                        <div class="ps-login-form-divider">
                            <span>Or</span>
                        </div>
                        <a href="#" id="ps-show-register-button" class="button border">Create an account</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        </div>

<!--    Register popup-->
        <div id="ps-register-wrap">
            <h2>Register</h2>
            <form action="{% url 'account_signup' %}" method="post" class="register">
                <input type="hidden" class="ps-login-popup-redirect-input" name="redirect" value="">
                <p class="form-row form-row-wide">
                    <label for="reg_email">
                        Email address <span class="required">*</span>
                    </label>
                    <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="reg_email" value=""/>
                </p>
                <p class="form-row form-row-wide">
                    <label for="reg_password">
                        Password <span class="required">*</span>
                    </label>
                    <input type="password" class="input-text" name="password" id="reg_password"/>
                </p>
                <div class="woocommerce-privacy-policy-text"></div>
                <p class="form-actions">
                    <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="f5e3e426b1"/>
                    <input type="hidden" name="_wp_http_referer" value="/"/>
                    <button type="submit" class="woocommerce-Button woocommerce-button button wp-element-button woocommerce-form-register__submit" name="register" value="Register">Register</button>
                <div class="ps-login-form-divider">
                    <span>Or</span>
                </div>
                <a href="#" id="ps-show-login-button" class="button border">Sign In</a>
                </p>
            </form>
        </div>


<div id="ps-page-overlay">
</div>
<div id="ps-quickview" class="clearfix">
</div>
<div id="ps-page-includes" class="quickview products banner-slider banner shop_categories shop_filters login-popup " style="display:none;">&nbsp;
</div>




<!-- .ps-page-overflow -->
<!--<script>-->
<!--    jQuery(document).ready(function($) {-->
<!--        // Optional: Enhance with AJAX for smoother transitions (if desired)-->
<!--        // For now, the server-side rendering handles the filtering-->
<!--    });-->
<!--</script>-->


{% endblock %}




