{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
<div class="nm-page-default nm-row">
  <div class="nm-page-default-col col-xs-12">
    <div id="post-10" class="post-10 page type-page status-publish hentry">
      <div class="woocommerce">
        <div class="woocommerce-notices-wrapper">
        </div>
        <div id="customer_login" class="nm-myaccount-login">
          <div class="nm-myaccount-login-inner">
            <div id="nm-login-wrap" class="inline slide-up fade-in">
    {% element h2 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    {% endelement %}
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
